.create-button {
    display: block;
    position: absolute;
    margin-top: -10px;
    left: 10vw;
}

.company-menu-style{
    padding-bottom: 30px;
}

.footer-padding {
    padding-bottom: 50px;
}

.main-content {
    margin-top: -10px;
    display: block;
}

h4 {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.zero-padding {
    padding-top: 0;
}