.create-button {
    display: block;
    position: absolute;
    margin-top: -10px;
    left: 10vw;
}

.admin-menu-style{
    padding-bottom: 30px;
}

.footer-padding {
    padding-bottom: 50px;
}

.cv-modal {
    position: absolute;
    top: 90%;
    left: 70%;
}